.block_studentstracker .studentstracker_header {
    margin: 10px 0px 20px 0px;
}
.block_studentstracker .studentstracker_footer {
    margin-top: 10px;
}
.block_studentstracker .content {
    text-decoration: none;
}
.block_studentstracker .content ul {
    margin-left: 0;
    padding-left: 0;
}
.block_studentstracker .content ul li {
    list-style-type: none;
    padding: 2px 5px 2px 5px;
    margin-bottom: 4px;
    border-radius: 4px;
    margin-left: 0;
    opacity: 0.8;
    text-align: right;
}
.block_studentstracker .content ul li span {
    color: #333;
}
.block_studentstracker .content ul li a {
    text-decoration: none;
}
.block_studentstracker .studentstracker-never:hover,
.studentstracker-four-days:hover,
.studentstracker-two-days:hover {
    opacity: 1;
}
.block_studentstracker .studentstracker-never {
    background: #e0e0e0;
}
.block_studentstracker .badge {
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 6px;
    margin-right: 5px;
}
#studentstracker-list {
    display: none;
}
#studentstracker-list li {
    display: block;
}
#tracker_showmore,
#tracker_showless {
    display: none;
}
#tracker_showmore button,
#tracker_showless button {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 20%;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    padding: 0;
    height: 23px;
    color: #fff;
    border: none;
    background: #00aeef;
    transition: background-color .25s;
    text-shadow: -1px 1px #009bd6;
    line-height: 15px;
}
#tracker_showmore button:hover,
#tracker_showless button:hover {
    background: #1c8eba;
    text-shadow: -1px 1px #197da4;
}
#tracker_showmore button:active,
#tracker_showless button:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}
.block_studentstracker .content ul li a .userpicture {
    transition: all .2s ease-in-out;
}
.block_studentstracker .content ul li a:hover .userpicture {
    -ms-transform: scale(1.75); /* IE 9 */
    -webkit-transform: scale(1.75); /* Safari 3-8 */
    transform: scale(1.75);
}
.block_studentstracker .content ul li .pull-left {
    text-align: left;
}
.block_studentstracker .content ul li .text-right {
    color: rgba(0, 0, 0, .8);
    font-size: 0.9em;
    padding-left: 5px;
    clear: both;
}
