.block_studentstracker .studentstracker_header {
    margin:10px 0px 20px 0px;
}
.block_studentstracker .studentstracker_footer {
    margin-top: 0px;
}
.block_studentstracker .content {
    text-decoration: none;
}
.block_studentstracker .content ul {
    margin-left: 0;
}
.block_studentstracker .content ul li {
    list-style-type:none;
    padding:2px 5px 2px 5px;
    margin-bottom:4px;
    border-radius:4px;
    opacity: 0.8;
}
.block_studentstracker .content ul li span {
    color: #333;
}
.block_studentstracker .content ul li a {
    text-decoration: none;
}
.block_studentstracker .studentstracker-never:hover, .studentstracker-four-days:hover, .studentstracker-two-days:hover {
    opacity: 1;
}
.block_studentstracker .badge {
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 9px;
    margin-right: 5px;
}
.block_studentstracker .badge.badge-warning {
    background-color: #F89406;
}
.block_studentstracker .badge.badge-success {
    background-color: #468847;
}
#studentstracker-list li {
    display: block;
}
#studentstracker_showmore button, 
#studentstracker_showless button {
    font-weight: bold;
    color: #333;
    width: 20%;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    padding: 2px;
    color: #fff;
    font-weight: bold;
    border: none;
    background: #00aeef;
    box-shadow: inset 0 1px #3dcaff, 0px 5px #0076a3, 0 3px 5px rgba(0,0,0,.3);
    transition: background-color .25s;
    font-family: 'Open Sans', sans-serif;
    text-shadow: -1px 1px #009bd6;
}
#studentstracker_showless button:hover {
    background: #1c8eba;
    box-shadow: inset 0 1px #40b5e2, 0px 5px #0076a3, 0 3px 5px rgba(0,0,0,.3);
    text-shadow: -1px 1px #197da4;
}
#studentstracker_showless button:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}