{{!
    This is a copy of @template core/help_icon with a small adaptation.
}}
<a class="btn btn-link p-0" role="button"
    data-bs-container="body" data-bs-toggle="popover"
    data-bs-placement="{{#ltr}}right{{/ltr}}{{^ltr}}left{{/ltr}}"
    data-bs-content='{{$text}} {{text}} {{/text}} {{$completedoclink}} {{completedoclink}} {{/completedoclink}}'
    data-bs-html="true" tabindex="0" data-bs-trigger="focus" aria-label="{{#str}} help {{/str}}">
  {{#pix}}help, core, {{{alt}}}{{/pix}}
</a>
