<div id="studentstracker" data-show="{{{ truncate }}}">
    <div class="studentstracker_header">
        {{# usercount }}<span class="badge badge-warning ps-2">{{{ usercount }}}</span>{{/ usercount }}{{{ textheader }}}
    </div>

    {{> block_studentstracker/students_list }}

    {{#hastoggle}}
    <div class="text-center">
        <div class="tracker-toggle" data-action="show-more">
            <button type="button" class="btn btn-link">
                {{#pix}}t/expandedchevron, core{{/pix}} {{# str }} showmore, core {{/ str }}
            </button>
        </div>
        <div class="tracker-toggle" data-action="show-less" hidden>
            <button type="button" class="btn btn-link">
                {{#pix}}t/collapsedchevron_up, core{{/pix}} {{# str }} showless, core {{/ str }}
            </button>
        </div>
    </div>
    {{/hastoggle}}

    <div class="studentstracker_footer d-flex">
        {{{ textfooter }}}

        <div id="studentstracker-message-content" class="d-none">
            {{{predefinedmessage}}}
        </div>

        <a href="#" id="studentstracker-send-button" class="ml-2">
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
</div>

{{#js}}
require(['block_studentstracker/main'], function(Module) {
    const root = document.querySelector("#studentstracker");
    Module.init(root);
});
require(['block_studentstracker/sendmessage'], function(Module) {
    Module.init({{courseid}});
});
{{/js}}
