{{#rowclass}}
<li class="{{{ rowclass }}}" style="background:{{{ rowcolor }}}">
    <span class="pull-left">
        {{{ messaging }}}
        {{< block_studentstracker/help_icon}}
            {{$text}} 
                <div>
                    <a href="mailto:{{{ email }}}">{{{email}}}</a>
                </div>
                {{#lastaccess}}
                    <p class="mb-0">{{# str }} lastaccess, core {{/ str }}: {{{ datelastaccess }}}</p>
                {{/lastaccess}}
            {{/text}}
        {{/ block_studentstracker/help_icon}}
        {{{ picture }}}
    </span>
    <span class="pull-right">{{{ lastaccesscourse }}}</span>
</li>
{{/rowclass}}
