{{#rowclass}}
<li class="{{{ rowclass }}}" style="background:{{{ rowcolor }}}">
    <span class="pull-left">
        {{{ picture }}}
    </span>
    <span class="pull-right">
        {{{ lastaccesscourse }}}
        {{< block_studentstracker/help_icon}}
            {{$text}}
                <div class="mb-2">{{{ popoverpicture }}}</div>
                <div>
                    {{{ messaging }}}
                    <a href="mailto:{{{ email }}}">{{{email}}}</a>
                </div>
                {{#lastaccess}}
                    <p class="mb-0">{{# str }} lastaccess, core {{/ str }}: {{{ datelastaccess }}}</p>
                {{/lastaccess}}
            {{/text}}
        {{/ block_studentstracker/help_icon}}
    </span>
</li>
{{/rowclass}}
