<div class="no-overflow">
    <p><a href="mailto:{{{email}}}">{{{email}}}</a></p>
    {{#lastaccess}}
        <p class="mb-0">{{# str }} lastaccess, core {{/ str }} : {{{date_lastaccess}}}</p>
    {{/lastaccess}}
</div>
